
<!--Profile Navigation Component-->
<div class="container-main">
    <!--Image of the logo-->
    <div class="logo">
      <label class="title">Invie</label>
    </div>
    <!--List of links that the user can access-->
    <div class="nav-links">
      <ul class="nav-list">
        <!--Scrolls to Item 1-->
        <li>
          <a routerLink="/feed" class="link" href="javascript:void(0)">Feed</a>
        </li>
        <!--Scrolls to Item 2-->
        <li>
          <a class="link" href="javascript:void(0)">Profile</a>
        </li>
        <!--Scrolls to Item 3-->
        <li>
          <a routerLink="/settings" class="link" href="javascript:void(0)">Settings</a>
        </li>
        <!--Takes you to login page-->
        <li>
          <a class="link" href="javascript:void(0)">Logout</a>
        </li>
      </ul>
    </div>
  </div>
