<div class="navbar">
    <app-navbar (scrollYPosition) ="scrollTo($event)"></app-navbar>
  </div>
<div id="container" class="container">
  <!--Logo of our website-->
  <div class="item-1">
    <div class="i1-body">
      <div class="landing-icon">
        <img src="../../assets/landing.png">
      </div>
      <div class="quote">
        <h2>"Innovation is seeing what everybody has seen and thinking
          what nobody has thought."
        </h2>
        <p>Dr Albert, Szent Gyorgyi</p>
      </div>
    </div>
  </div>
  <!--About Us Section-->
  <div class="item-2">
      <div class="i2-header">
        <h2>What are we about?</h2>
      </div>
      <div class="i2-body">
        <div class="deal-image">
          <img src="../../assets/deal.jpg" />
        </div>
        <div class="about-details">
          <p>Invie is where start-ups and venture capitalist converge. Our goal is to keep the search minimum for investors and the opportunities high for investees.
            The company was founded by a group of engineers passionate about funding interesting projects and helping potential business ventures.
            We match start-ups to investors based on the tags that best describe your businesss. Laydown  the blueprints to your success for others to see and get the help you need to fund your dreams.
            Finding backers for your passion projects is difficult and we are determined to find you investors that see your vision the way you do.</p>
        </div>
      </div>
  </div>
  <div class="item-3">
    <div class="i3-header">
      <h2>Our Valued Sponsosrs</h2>
    </div>
    <div class="i3-body">
      <table>
        <tr>
          <td>
            <img src="../../assets/accenture.png" />
          </td>
          <td>
            <img src="../../assets/cisco.png" />
          </td>
          <td>
            <img src="../../assets/morgan.png" />
          </td>
        </tr>
        <tr>
          <td>
            <img src="../../assets/wit.png" />
          </td>
          <td>
            <img src="../../assets/ford.png" />
          </td>
          <td>
            <img src="../../assets/deloitte.png" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="footer">
    <div class="contact">
      <label>Contact</label><br>
      <p>
        65-30 Kissena Blvd<br/>
        Flushing, NY <br/>
        Zip Code: 11367<br/>
        Phone Number: 347-888-1024
      </p>
    </div>
    <div class="social-media">
      <label>Follow Us</label><br>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
    </div>
    <div class="copyright">
      <label>Copyright &copy; 2019 Invie</label>
    </div>
  </div>

</div>
