<div class="navbar">
    <app-navbar (scrollYPosition) ="scrollTo($event)"></app-navbar>
  </div>
<div id="container" class="container">
  <!--Logo of our website-->
  <div class="item-1">
    <div class="i1-body">
      <div class="landing-icon">
        <img src="../../assets/landing.png">
      </div>
      <div class="quote">
        <h2>"Innovation is seeing what everybody has seen and thinking
          what nobody has thought."
        </h2>
        <p>Dr Albert, Szent Gyorgyi</p>
      </div>
    </div>
  </div>
  <!--About Us Section-->
  <div class="item-2">
      <div class="i2-header">
        <h2>What are we about?</h2>
      </div>
      <div class="i2-body">
        <div class="deal-image">
          <img src="../../assets/deal.jpg" />
        </div>
        <div class="about-details">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
  </div>
  <div class="item-3">
    <div class="i3-header">
      <h2>Our Valued Sponsosrs</h2>
    </div>
    <div class="i3-body">
      <table>
        <tr>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
        </tr>
        <tr>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
          <td>
            <img src="../../assets/shark-tank.png" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="footer">
    <div class="contact">
      <label>Contact</label><br>
      <p>
        65-30 Kissena Blvd<br/>
        Flushing, NY <br/>
        Zip Code: 11367<br/>
        Phone Number: 347-888-1024
      </p>
    </div>
    <div class="social-media">
      <label>Follow Us</label><br>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
    </div>
    <div class="copyright">
      <label>Copyright &copy; 2019 Invie</label>
    </div>
  </div>

</div>
