.container{
  position: absolute;
  margin-top:65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /*Increase/Decrease this value for cross-browser compatibility*/
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar{
  width:100%;
  height:65px;
  position:sticky;
  top:0px;
  left:0px;
  z-index:11;

}
.item-1{
  position:relative;
  min-width: 900px;
  background-size: 100% 900px;
  height:870px;
  z-index: 2;
  background-color:#3CCDEA;
  color:white;
}
.i1-body{
  width:auto;
  height:500px;
  display: flex;
  margin:auto;
  flex-direction: row;
}
.landing-icon{
  margin-top:150px;
  margin-left:10px;
  width:50%;
}
.landing-icon img{
 padding-left: 30px;
 width: 70%;
}
.quote{
  margin-top:150px;
  width:45%;
}
.quote h2{
  font-size: 30pt;
  text-align: center;
}
.quote p{
  font-size: 15pt;
  text-align: center;
}
.item-2{
  position:relative;
  height:890px;
  z-index: 2;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.item-3{
  position:relative;
  height:890px;
  z-index: 2;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.i2-header h2, .i3-header h2{
  margin-top:50px;
  color:#3CCDEA;
  text-align: center;
  font-size: 25pt;
}

.i2-body{
  width:60%;
  text-align: center;
}

.deal-image img{
  text-align: center;
  max-width: 900px;
  width:100%;
  height: 55%;
  /* height:500px; */
}

.i3-body{
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:auto;
}

.i3-body td{
  border: 2px solid rgb(228, 228, 228);
}

.i3-body img{
  padding:55px;
}

.i3-body td img{
  width:50%;
  max-width: 300px;
}
.footer{
  width: 100%;
  height:200px;
  display:flex;
  flex-direction: row;
  color:white;
  background-color:#3CCDEA;
}

.contact label{
  margin-left:10px;
  font-size:15pt;
  font-weight: bold;
}
.copyright label{
  margin-left:10px;
  font-size:15pt;
}
.contact p{
  margin-left:10px;
}
.social-media, .contact, .copyright{
  margin-top:12px;
  margin-left:25px;
  width:25%;
}
.social-media label{
  margin-left:10px;
  font-size:15pt;
  font-weight: bold;
}
.social-media a{
  margin-left:5px;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
