
<!--Navigation Component-->
<div class="container-main">
  <!--Image of the logo-->
  <div class="logo">
    <label class="title">Invie</label>
  </div>
  <!--List of links that the user can access-->
  <div class="nav-links">
    <ul class="nav-list">
      <!--Scrolls to Item 1-->
      <li>
        <a (click)="scrollTo(0)"class="link" href="javascript:void(0)">Home</a>
      </li>
      <!--Scrolls to Item 2-->
      <li>
        <a (click)="scrollTo(870)" class="link" href="javascript:void(0)">Objective</a>
      </li>
      <!--Scrolls to Item 3-->
      <li>
        <a (click)="scrollTo(1760)" class="link" href="javascript:void(0)">Sponsors</a>
      </li>
      <!--Takes you to login page-->
      <li>
        <a routerLink="/register" class="link" href="javascript:void(0)">Sign In</a>
      </li>
    </ul>
  </div>
</div>
