<div class="navbar">
  <app-profile-navbar></app-profile-navbar>
</div>
<div class="container">
  <!--Recently Viewed Section-->
  <div class="recently-viewed">
    <div class="recently-viewed-card">
        <div class="view-card-container">
          <div class="view-header">
            <h4><b>Recently Viewed</b></h4>
          </div>
          <!--A list of recently viewed users gets displayed here-->
          <!--WILL BE REPLACED WITH AN NGFOR LATER-->
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-male.png"/>
              <h3>Brian Aguilar</h3>
            </div>
          </div>
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-male.png"/>
              <h3>Akhil Khanna</h3>
            </div>
          </div>
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-female.png"/>
              <h3>Nabila Ahmed</h3>
          </div>
          <!--FIX THE BORDER BOTTOM FOR THE LAST USER-->
        </div>
      </div>
    </div>
  </div>
  <!--Feed Content-->
  <div class="feed-content">
    <!--Display Investor List if the user that logged in is an investee-->
    <div class="investor-list">
      <div class="feed-card">
        <div class="card-container">
          <div class="investor-header">
            <img src="../../assets/user-male.png">
            <h4>Brian Aguilar</h4>
          </div>
          <div class="investor-body">
            <div class="investor-description">
              <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
            <div class="tags">
              dfkgdf
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Display Investee List if the user that logged in is an investor-->
    <div class="investee-list">
      <div class="feed-card">
        <div class="card-container">
          <div class = "investee-header">
              <img src="../../assets/user-male.png">
            <h4><b>John Doe</b></h4>
          </div>
          <div class = "businessTitle">
              <h4>Architect & Engineer</h4>
          </div>
          <div class="investee-body">
            <div class="investee-description">
              <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </p>
            </div>
              <div class="tags">
                tags
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Ads Section-->
  <div class="ads">
    <div class="last-card">
      <div class="card-container">
          <h4><b>Ads</b></h4>
          <p>Architect & Engineer</p>

      </div>
    </div>
  </div>

</div>
