<div class="navbar">
  <app-profile-navbar></app-profile-navbar>
</div>
<div class="container">
  <!--Recently Viewed Section-->
  <div class="recently-viewed">
    <div class="recently-viewed-card">
        <div class="view-card-container">
          <div class="view-header">
            <h4><b>Recently Viewed</b></h4>
          </div>
          <!--A list of recently viewed users gets displayed here-->
          <!--WILL BE REPLACED WITH AN NGFOR LATER-->
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-male.png"/>
              <h3>Brian Aguilar</h3>
            </div>
          </div>
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-male.png"/>
              <h3>Akhil Khanna</h3>
            </div>
          </div>
          <div class="view-body">
            <div class="user-view">
              <img src="../../assets/user-female.png"/>
              <h3>Nabila Ahmed</h3>
          </div>
          <!--FIX THE BORDER BOTTOM FOR THE LAST USER-->
        </div>
      </div>
    </div>
  </div>
  <!--Feed Content-->
  <div class="feed-content">
    <!--Display Investor List if the user that logged in is an investee-->
    <div class="investor-list">

    </div>
    <!--Display Investee List if the user that logged in is an investor-->
    <div class="investee-list">

    </div>
    <div class="feed-card">
      <div class="card-container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
  </div>
  <!--Ads Section-->
  <div class="ads">
    <div class="last-card">
      <div class="card-container">
          <h4><b>Ads</b></h4>
          <p>Architect & Engineer</p>
      </div>
    </div>
  </div>

</div>
