.container{
  position: absolute;
  margin-top:65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  overflow-y: scroll;
  display:flex;
}
.navbar{
  width:100%;
  height:65px;
  position:sticky;
  top:0px;
  left:0px;
  z-index:11;

}
.image{
  margin-top: 10px !important;
  margin-left: -12px !important;
  height: 140px;
  width: 140px;
}

.contact{
  margin-left: 20px;
  margin-top: 10px;
  width:280px;
  border:1px solid rgb(218, 218, 218);
  text-align: center;
  color: #3CCDEA;
  font-size:10px;
  height:400px;
}

.phoneNumber{
  font-size:13px;
  margin-left: -5px;

}
.email{
  font-size:13px;
  margin-left: -9px;
}
.investorWebsite{
  font-size:13px;
  margin-left: -10px;
}
.info a{
  font-size:13px;
  color: black;
  text-decoration: none;
}
.info a:hover{
  text-decoration: underline;
}

.info{
  display: inline-block;
  width:210px;
}
.investordescription{
  border:1px solid rgb(218, 218, 218);
  color: #EF6C2A;
  padding:10px;
  padding-top:2px;
  width:700px;
  height:200px;
}
.companyandinterests{
  display:flex;
  flex:row;
  width:720px;
  border:1px solid rgb(218, 218, 218);
  margin-top:10px;
}
p{
  color: #EF6C2A;
}
.tags{
  width:40%;
  margin-top: 10px;
  margin-left:20px;
}
.tags h1{
  text-align: center;
}
.tags img{
  width:150px;
  height:80px;
  padding-right:15px;
}
.interests{
   width:50%;
}
.currentcompanyinfo{
  width:50%;
}
#small{
  font-size: 10px;
  color:#D3D3D3
}
.viewheader-card{
  padding-left:12px;
}
.view-item{
  display:flex;
  flex:row;
  padding-bottom: 10px;
}
.view-body{
  padding-top:-10px;
}
.view-item img{
  position: relative;
  top:-10px;
  width:75px;
  padding: 10px;
}
#followersunder{
  margin-left: 15px;
  padding-top: 25px;
  font-size:20px;
}

.create-modal{
  position:fixed;
  background-color:rgba(175, 175, 175, 0.932);
  width:100%;
  height:100%;
  overflow-y:scroll;
  top:0px;
  left:0px;
  z-index:2;
}
a{
  color:#FF4500;
}

a:hover{
  color:black;
}
#signUpSpan{
  margin-top: 15px;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.modal-container button {
  background-color: #EF6C2A;
  border: none;
  color: white;
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: .5s;
  cursor: pointer;
  margin:auto;
}

.modal-container button:hover {
  transition: 0.2s;
  background-color: rgb(240, 129, 73);
  color: white;
}

textarea{
  width:50%;
  height:80px;
  margin: 8px 0;
  outline: none;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

.modal-container {
  padding: 16px;
  width:100%;
  display: inline-block;
}
.input-group{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:80%
}

/* The Modal (background) */
.modal {
  margin:0 auto;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 40%; /* Full width */
  height: 80%; /* Full height */
  min-width: 600px;
  /*overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe; /* Fallback color */
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 80px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
}

/* The Close Button (x) */
.close {
  position:relative;
  float:right;
  margin-right:20px;
  margin-bottom:20px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.profile{
  margin-left:35px;
  margin-top:10px;
}
.profile-card {
  border: 1px solid rgb(218, 218, 218);
  width: 275px;
  height:260px;
  padding:12px;
}

.profile-card img{
  width:140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-container{
  display:flex;
  flex-direction: column;
  text-align: center;
}

.profile-body{
  display:flex;
  flex-direction: column;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: flex;
	width: 60%;
	min-width: 1115px;
}
