<div class="navbar">
  <app-profile-navbar></app-profile-navbar>
</div>
<div class="container">
  <div id = "tagsPushedRight">
      <div class ="contact">
        <!-- It could be an image of an investor but that would be hard -->
        <div class = "info">
          <div class = "image">
            <img src = "../../assets/investorimage.png" height = "120px" width = "80px" >
          </div>
          <div class = "name">
            <h2>Brian Trash</h2>
          </div>
          <h2>Contact:</h2>
        <div class = "phonewithpic">
          <img width = "12px" height = "13px" src = "../../assets/phoneimg.png">
          <div class = "phoneNumber">
              <a href="tel:+917-666-8484">9176668484</a>
          </div>
        </div>
          <div class = "email">
              <a href = "mailto:abc.example.com">abc.example.com</a>
          </div>

            <div class = "name">
                <a href = "google.com">Investors website</a>
            </div>
        </div>
      </div>
  </div>
  <div class = "tags">
    <div class = "investordescription">
          <h3>Description</h3>
          <p>Looking for companies that work with machine learning.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class = "companyandinterests">
      <div class = "interests">
          <div class = "viewheader-card">
            <div class = "header-title"><h3> Current Interests</h3></div>
          </div>
        <div class = "view-body">
              <div class = "view-item">
                  <img src = "../../assets/investorimage.png">
                  <div id ="followersunder">
                    <div>Interest1</div><div id = "small">1,000 followers</div>
                  </div>
            </div>
              <div class = "view-item">
                  <img src = "../../assets/investorimage.png">
                  <div id ="followersunder">
                    <div>Interest 2</div><div id = "small">2,000 followers</div>
                  </div>
              </div>
        </div>
      </div>
      <div class = "currentcompanyinfo">
            <div>
              <div class = "header-title"><h3> Current Company</h3></div>
            </div>
            <div>
                <p>Blah blah blah</p>
            </div>
      </div>
        <!-- <div class = "companyinfo">
            <div class = "viewheader-card">
                <div class = "header-title"><h3> Current Company</h3></div>
            </div>
            <div class = "view-item">
              <div>Looking for companies that work with machine learning.Lorem Ipsum iustr</div>
            </div>
          </div> -->
      </div>
      <!-- <table>
        <tr>
          <img src = "../../assets/investorimage.png">
          <td><div>Company1</div><div id = "small">1,000 followers</div></td>
          <img src = "../../assets/investorimage.png">
          <td><div>Company1</div><div id = "small">1,000 followers</div></td>
          <img src = "../../assets/investorimage.png">
          <td><div>Company1</div><div id = "small">1,000 followers</div></td>
        </tr>
        <tr>
            <img src = "../../assets/investorimage.png">
            <td><div><b><a href = "">Company2</a></b></div><div id = "small">1,640 followers</div></td>
            <img src = "../../assets/investorimage.png">
            <td><div><b>Company2</b></div><div id = "small">1,640 followers</div></td>
            <img src = "../../assets/investorimage.png">
            <td><div><b>Company2</b></div><div id = "small">1,640 followers</div></td>
          </tr>
      </table> -->
  </div>
</div>
