.container{
  position: absolute;
  margin-top:65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
  display:flex;
}
.navbar{
  width:100%;
  height:65px;
  position:sticky;
  top:0px;
  left:0px;
  z-index:11;

}
.image{
    margin-top:10px;
}

.contact{
  margin-left: 30px;
  margin-top: 20px;
  width:280px;
  border:1px solid rgb(218, 218, 218);
  text-align: center;
  color: #3CCDEA;
  font-size:10px;
  height:400px;
}
.phonewithpic{
  display:flex;
  flex:row;
}
.phoneNumber{
  font-size:13px;
  padding-left:5px;
}
.email{
  font-size:13px;
}
.info{
  display: inline-block;
  width:110px;
}
.investordescription{
  border:1px solid rgb(218, 218, 218);
  color: #EF6C2A;
  padding:10px;
  padding-top:2px;
  width:700px;
  height:200px;
}
.companyandinterests{
  display:flex;
  flex:row;
  width:720px;
  border:1px solid rgb(218, 218, 218);
  margin-top:10px;
}
h1,h2,h3,h4,h5,h6{
  color: #3CCDEA;
}
p{
  color: #EF6C2A;
}
.tags{
  width:40%;
  margin-top: 10px;
  margin-left:20px;
}
.tags h1{
  text-align: center;
}
.tags img{
  width:150px;
  height:80px;
  padding-right:15px;
}
.interests{
   margin-top: 10px;
   width:50%;
}
.currentcompanyinfo{
  margin-top: 10px;
  width:50%;
}
#small{
  font-size: 10px;
  color:#D3D3D3
}
.viewheader-card{
  padding-left:12px;
}
.view-item{
  display:flex;
  flex:row;
  padding-bottom: 10px;
}
.view-body{
  padding-top:-10px;
}
.view-item img{
  width:60px;
  padding: 10px;
}
#followersunder{
  margin-left: 15px;
  padding-top: 25px;
  font-size:20px;
}