<div class="navbar">
  <app-profile-navbar></app-profile-navbar>
</div>
<div class="container">
  <div id = "tagsPushedRight">
      <div class ="imageandname">
        <!-- It could be an image of an investor but that would be hard -->
          <div class = "image">
            <img src = "../../assets/investorimage.png" height = "180px" >
          </div>
          <div class = "name">
            <h2>Brian Trash</h2>
          </div>
      </div>
      <div class = "investordescription">
          <p>Looking for companies that work with machine learning.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
  </div>
  <div class = "tags">
      <p>Tag 1</p>
  </div>
</div>
