<div class="navbar">
    <app-profile-navbar></app-profile-navbar>
  </div>
  <div class="container">
    <div class="profile">
      <div class="profile-card">
        <div class="user-img">
            <img src="../../assets/user-male.png" />
        </div>
        <div class="profile-container">
          <label>Brian Aguilar</label>
          <label>123-456-7890</label>
          <label>Web Link</label>
        </div>
      </div>
    </div>

    <div class="profile-body">
      <div class="description">
        <div class="description-card">
          <div class="description-header">
            <h2>Description</h2>
          </div>
          <div class="description-body">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </div>
        </div>
      </div>
      <div class="business-idea">
        <div class="add-button" *ngIf="!hasIdea">
          <button (click)="showModal()" class="button">Create Business Idea</button>
        </div>
        <div class="idea" *ngIf="hasIdea">
          <div class="idea-card">
            <div class="idea-header">
              <h2>Name Of Business</h2>
              <label>Type of Business</label><br/>
              <label>Owner</label><br/>
              <label><a href="javascript:void(0)">weblink</a></label>
            </div>
            <div class="idea-body">
              <div class="idea-description">
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
              </div>
              <div class="idea-tags">
                <label>Tags:</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Business Idea Modal-->
<div class="create-modal" *ngIf="displayModal">
  <div id="mainModalDiv" class="modal animate">
    <span (click)="showModal()" class="close">&times;</span>
    <form  class="modal-content">
      <div class="header">
        <h1 style="text-align: center">Create a Business Idea</h1>
      </div>
      <!--Form Contents-->
      <div class="modal-container">
        <!--Idea Name-->
        <div class="input-group">
          <label>Idea Name</label>
          <input [(ngModel)]="businessIdea.name" id="inputClass" type="text" name="pname">
        </div>
        <!--Owner Name-->
        <div class="input-group">
          <label>Owner</label>
          <input [(ngModel)]="owner" id="inputClass" type="text" name="pname">
        </div>
        <!--Objective-->
        <div class="input-group">
          <label>Objective</label>
          <input [(ngModel)]="businessIdea.objective" id="inputClass" type="text" name="pname">
        </div>
        <!--Weblink-->
        <div class="input-group">
          <label>Website</label>
          <input [(ngModel)]="businessIdea.webLink" id="inputClass" type="text" name="pname">
        </div>
        <!--Phone Number-->
        <div class="input-group">
          <label>Phone Number</label>
          <input [(ngModel)]="businessIdea.phoneNumbers" id="inputClass" type="text" name="pname">
        </div>
        <!--Tags-->
        <div class="input-group">
          <label>Tags (Seperate each tag by space)</label>
          <input [(ngModel)]="tags"  id="inputClass" type="text" name="tag">
        </div>
        <!--Description-->
        <div class="input-group">
          <label>Description</label>
          <textarea [(ngModel)]="businessIdea.description"></textarea>
        </div>
        <!--Submit-->
        <button (click)="createBusinessIdea()">Create Idea</button>
      </div>
    </form>
  </div>
</div>