<!-- Business Idea Modal-->
<div class="create-modal">
    <div id="mainModalDiv" class="modal animate">
      <span  (click)="closeModal()" class="close">&times;</span>
      <div class="modal-content">
        <!--Form Contents-->
        <div class="modal-container">
          <div class="idea-information">
            <div style="margin-left:15px" class="header">
              <label style="font-size:20pt"><strong>{{idea.name}}</strong></label><br/>
              <label>Type of Business: {{idea.typeOfBusiness}}</label><br/>
              <label>Owner: {{idea.owners[0]}}</label><br/>
              <label>Website: <a href="javascript:void(0)">{{idea.weblink}}</a></label>
            </div>
            <img src="../../assets/idea.jpg" style="width:25%;margin-left:15px"/>
            <p>{{idea.description}}</p>
          </div>
          <div class="comment-section">
            <label>Leave a comment below!</label><br/>
            <input style="width:400px"type="text">
            <div class="comment-list">

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
