<div class="navbar">
  <app-navbar></app-navbar>
</div>
<div class = "maindiv">
<div>
  <div *ngIf = "!showNew" class = "logindiv">
      <div *ngIf = "wrongPassword" class="wrongPw">
          Your Username or Password is incorrect.
      </div>
    <form>
      <!-- No idea why password loads up with text inside of it. -->
      <div class="imgcontainer">
        <img src="../../assets/logo2.JPG" alt="Avatar" class="avatar">
    </div>
      <div class = "form-group">
          <label for = "username">Email</label>
          <input type = "email" name = "username" ngModel email="true" [(ngModel)] = "loginInformation.email" required email>
          <label for = "password" >Password</label>
          <input type = "password" autocomplete="off" name = "password" [(ngModel)] = "loginInformation.password" required minlength = "5">
        </div>
      <div class = "radios-checkbox">
          <label>Type Of User? </label>
          <input id = "Investor" [value]="1" [(ngModel)]="loginInformation.userType" type = "radio" name = "userType" value = "Investor">
          <label  for = "Investor">Investor</label>
          <!-- I made the for = to the same id so when you click on the input it changes the label background for that radiobutton clicked -->
          <input id = "Investee" [value]="2"  [(ngModel)]="loginInformation.userType" type = "radio" name = "userType" value = "Investee">
          <label  for = "Investee" id = "investeepushleft">Investee</label>
        </div>
        <div class="buttons">
          <button class ="button" (click) = "login()">Log In</button>
        </div>
      <p style="text-align: center"> Don't have an account?  <a (click) = "showNew = !showNew">Sign up</a></p>
    </form>
  </div>
  <div class = "signupdiv" *ngIf = "showNew">
      <div class="imgcontainer">
          <img src="../../assets/logo2.JPG" alt="Avatar" class="avatar">
      </div>
      <div class = "form-group">
          <label>Enter your name: </label>
          <input class = "form-control" type = "text" name = "name" [(ngModel)] = "signUpInformation.name">
          <label>Enter your email: </label>
          <input class = "form-control" type = "email" name = "email" [(ngModel)] = "signUpInformation.email">
          <label>Enter your password: </label>
          <input class = "form-control" type = "password" name = "password1" [(ngModel)] = "signUpInformation.password"><br>
          <label>Retype Password: </label>
          <input class = "form-control" type = "password" name = "password2" [(ngModel)] = "signUpInformation.passwordRetype"><br>
      </div>
      <div class = "radios-checkbox">
          <label>What type of user are you? </label>
        <input id = "Investor" type = "radio" name = "userType" [value] = "1" [(ngModel)] = "signUpInformation.userType">
        <label for = "Investor">Investor</label>
        <input id = "Investee" type = "radio" name = "userType" [value] = "2" [(ngModel)] = "signUpInformation.userType">
        <label for = "Investee" id = "investeepushleft">Investee</label>
      </div>
      <div class="buttons">
        <a class="button" (click) = "signup()">Join now</a>
      </div>
      <div class="information">
          <p>By clicking Join now, you agree to the Invie User Agreement, Privacy Policy, and Cookie Policy.</p>
          <p>Already have an account?  <a (click) = "showNew = !showNew">Sign in</a></p>
      </div>

  </div>

</div>
</div>
<div class="footer">
  <div class="contact">
    <label>Contact</label><br>
    <p>
      65-30 Kissena Blvd<br/>
      Flushing, NY <br/>
      Zip Code: 11367<br/>
      Phone Number: 347-888-1024
    </p>
  </div>
  <div class="social-media">
    <label>Follow Us</label><br>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
  </div>
  <div class="copyright">
    <label>Copyright &copy; 2019 Invie</label>
  </div>
</div>
