<div class = "container">
<app-settings-navbar></app-settings-navbar>
    <div class = "header">
      <div class = "para">
        <h2>Name of user, you're the boss of your account</h2>
      </div>
    <div class = "info">
      <div class = "imagediv">
        <img src = "../../assets/accenture.png" width = "45px" height = "50px">
      </div>
      <div class = "descriptiondiv">
          <div class = "name">
            <p>Investor name</p>
          </div>
          <div class = "description">
              <p>Investor - mini description</p>
          </div>
          <div class = "membersince">
              <p>Member since Jan 25,2017</p>
          </div>
        </div>
    </div>
    <div>
      <p>30 companys invested in</p>
      <hr>
    </div>
  </div>
  <div class = "options">
      <ul>
        <li><button #account (click) = "accountClicked()"(click) = "privacyClicked = false" class = "button">Account</button></li>
        <li><button #privacy class = "button" (click) = "privacyClicked = true">Privacy</button></li>
      </ul>
  </div>
  <div *ngIf = "!privacyClicked">
    <div class ="allcards">
      <div class = "header-card">
          <h3>Login and Security</h3>
      </div>
      <div class = "change-card" (click) = "emailClicked = true; phoneClicked = false; passwordClicked = false">
          <h4>Change your email address</h4>
          <div class = "change" *ngIf = "emailClicked">
            <h5> Your current email address: </h5>
              <form>
                <div class = "form">
                  <label for = "username">Email:</label>
                  <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                  <input id = "submitInputR" type = "submit" value = "change">
                </div>
                </form>
          </div>
      </div>
      <div class = "change-card" (click) = "emailClicked = false; phoneClicked = true; passwordClicked = false" >
          <h4>Change your phone number</h4>
          <div class = "change" *ngIf = "phoneClicked">
              <h5> Your current Phone Number is: </h5>
                <form>
                  <div class = "form">
                    <label for = "username">New Phone Number:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <input id = "submitInputR" type = "submit" value = "Enter">
                  </div>
                  </form>
            </div>
      </div>
      <div class = "change-card" (click) = "emailClicked = false; phoneClicked = false; passwordClicked = true">
          <h4>Change password</h4>
          <div class = "change" *ngIf = "passwordClicked">
              <h5> Your current Phone Number is: </h5>
                <form>
                  <div class = "form">
                    <label for = "username">Enter password:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <label for = "username">Re-enter password:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <input id = "submitInput" type = "submit" value = "change">
                  </div>
                  </form>
            </div>
      </div>
    </div>
  </div>
  <div *ngIf = "privacyClicked">
      <p>Who can see your email address</p>
  </div>
</div>
