<div class="navbar">
  <app-profile-navbar></app-profile-navbar>
</div>
<div class = "container">
    <div class = "header">
      <div class = "para">
        <h2>{{currentUser.name}}, you're the boss of your account</h2>
      </div>
    <div class = "info">
      <div class = "imagediv">
        <img src = "../../assets/accenture.png" width = "45px" height = "50px">
      </div>
      <div class = "descriptiondiv">
          <div class = "name">
            <p>{{currentUser.name}}</p>
          </div>
          <div class = "description">
              <p>{{userType}} - {{currentUser.description}}</p>
          </div>
          <div class = "membersince">
              <p>Member since Jan 25,2017</p>
          </div>
        </div>
    </div>
    <div>
      <p>30 companys invested in</p>
      <hr>
    </div>
  </div>
  <div class = "options" #options>
        <div class ="option"><button id ="accountButton"  (click) = "optionEntered('account')" class = " newClass button">Account</button></div>
        <div class ="option"><button id = "privacyButton" (click) = "optionEntered('privacy')"class = "button" >Privacy</button></div>
  </div>
  <div class ="optiondiv">
    <div class ="allcards">
      <div class = "header-card">
          <h3>Login and Security</h3>
      </div>
      <div class = "change-card" >
          <h4>Change your email address</h4>
          <div class = "change" >
            <h5> Your current email address: {{currentUser.email}} </h5>
              <form>
                <div class = "form">
                  <label for = "username">Email:</label>
                  <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                  <input id = "submitInputR" type = "submit" value = "change">
                </div>
                </form>
          </div>
      </div>
      <div class = "change-card" >
          <h4>Change your phone number</h4>
          <div class = "change">
              <h5> Your current Phone Number is: {{currentUser.phoneNumber}} </h5>
                <form>
                  <div class = "form">
                    <label for = "username">New Phone Number:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <input id = "submitInputR" type = "submit" value = "Enter">
                  </div>
                  </form>
            </div>
      </div>
      <div class = "change-card" >
          <h4>Change password</h4>
          <div class = "change" >
              <h5>Enter your new password: </h5>
                <form>
                  <div class = "form">
                    <label for = "username">Enter password:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <label for = "username">Re-enter password:</label>
                    <input id = "regularInput" type = "email" name = "username" ngModel email="true" [(ngModel)] = "newEmail">
                    <input id = "submitInput" type = "submit" value = "change">
                  </div>
                  </form>
            </div>
      </div>
    </div>
  </div>
  <div >
      <div class = "change-card">
          <h4>Who can see your email-address/phone-number</h4>
          <div class = "change">
              <h5>Who can see {{currentUser.phoneNumber}} or {{currentUser.email}}</h5>
              <!-- This changes depending on if an investor is on the settings page or investee is on investee page. -->
                <form>
                    <select name = "displayEmailTo">
                      <option value = "everyone">Anyone</option><!-- if this is chosen then even users who arent logged in can see it-->
                      <option value = "loggedInUsers">All investees</option><!-- all investees but users who arent logged in cant see the email address.. this is important because these investors emails and numbers should be private. what if lebrons an investor and he keeps getting calls from brian.-->
                      <option value = "Current Interests">Current interests only</option>
                    </select>
                    <input type="submit">
                </form>
          </div>
      </div>
      <div class = "change-card">
        <!-- We can leave this part unimplemented seems like a lot of work.  -->
        <!-- this is also a website for investors who already found their interests to constantly interact with each other as well so maybe those investors are done investing in companies and only want their interests to see their feed. -->
        <h4>Who can see your feed page</h4>
        <div class = "change">
            <h5>Keep your feed secure</h5>
            <!-- This changes depending on if an investor is on the settings page or investee is on investee page. -->
              <form>
                  <select name = "displayFeedTo">
                    <option value = "everyone">Anyone</option><!-- if this is chosen then even users who arent logged in can see it-->
                    <option value = "loggedInUsers">All investees</option><!-- all investees but users who arent logged in cant see the email address.. this is important because these investors emails and numbers should be private. what if lebrons an investor and he keeps getting calls from brian.-->
                    <option value = "Current Interests">Current interests only</option>
                  </select>
                  <input type="submit">
              </form>
          </div>
      </div>
  </div>
</div>
